[submodule "poky"]
	path = poky
	url = https://github.com/yoctoproject/poky
[submodule "meta-openembedded"]
	path = meta-openembedded
	url = https://github.com/openembedded/meta-openembedded
[submodule "meta-st-stm32mp"]
	path = meta-st-stm32mp
	url = https://github.com/STMicroelectronics/meta-st-stm32mp
[submodule "meta-st-openstlinux"]
	path = meta-st-openstlinux
	url = https://github.com/STMicroelectronics/meta-st-openstlinux
